#header * {   
    border: 0.1px solid rgb(0, 0, 255, 50%);
}

body {
    height: 100vh;
    font-family: "Lato", "Helvetica Neue", "Arial", "san-serif";
    margin: auto;
}

#main-container {
    height: 100%;
    display: grid;
    grid-template: max(150px) 1fr / max(200px) 1fr;
}

#main-container > div {
    padding: 20px;
}

.icon {
    height: 1.50rem;
    margin-right: 10px;
}

#dashboard {
    background-color: #0ea5e9;
    grid-row: 1 / 3;
}

#dashboard * {
    color: white;
    margin-bottom: 5px;
}

#logo {
    height: 4rem;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(114deg) brightness(108%) contrast(101%);
}

#logo-title {
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo-title, 
#navigation :nth-child(6) {
    margin-bottom: 60px
}

#navigation > div {
    display: flex;
    align-items: center;
}

#dashboard .icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(114deg) brightness(108%) contrast(101%);
}

#navigation > div > a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
}

#header {
    display: grid;
    grid-template-rows: 20% 1fr;
    grid-template-columns: 1fr 30%;
    gap: 20px;
}

#search {
    display: flex;
    align-items: center;
}

#search-bar {
    background-color: #e0f2fe;
    font-size: 1.25rem;
    width: 100%;
    border-radius: 30px;
}

#introduction {
    display: grid;
    grid-template: 1rem 1fr / 75px 1fr;
    font-weight: 800;
}

.profile-image  {
    grid-row: 1 / 3;
    object-fit: cover;
    border-radius: 50px;;
}

#greetings {
    grid-column: 2;
    font-size: 1rem;
}

#user-name {
    grid-column: 2;
    font-size: 1.5rem;
}

#header-btn {
    display: grid;
    grid-template-columns: repeat(3, minmax(60px,1fr));
    gap: 20px;
}
#header-btn * {
    background-color: #0ea5e9;
    color: white;
    font-weight: 600;
    height: 30px;
    border-radius: 30px;
}

#main-content {
    background-color: #e0f2fe;
}